*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;

}
body{
  background-color : #ffa931;
  font-family: 'Source Code Pro', monospace;
}
  /* font-family: 'Source Code Pro', monospace;
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 3px; */

/* master container */
header{

  display: flex;
  justify-content: center;
  margin-top: 10vh;
  font-size: 1.5rem;
}
h1{
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 3px;
  color:  #1a1c20;
}
/* END */

/* master container */
main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  height: 10vh;
}
form{
  display: flex;
  align-items: center;
}
input{
   height: 6vh;
   width: 50vw;
   border: 2px solid #1a1c20;
   font-size: 1.5rem;
   outline: none;
   font-family: 'Source Code Pro', monospace;
   transition: all 0.3s ease;
}
.arrow-down{
  display: inline-block;
  font-size: 0.8rem;
  background: white;
  border: 2px solid #1a1c20;
  border-left: 0;
  color:  #ffa931;

}
.fa-arrow-down{
   padding: 7px 10px 6px ;

}
.arrow-down:hover{
  color:white ;
  background:#ffa931 ;
}

/* END */
p{
  transition: all 2s ease;
}



/* **************DYNAMIC PART******************* */
.dynamic-part{
  font-size: 1.5rem;
  margin-top: 10vh;
  text-align: center;
}
.each-task{

  animation: fallingdown 1.5s ease;
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  width: 70%;
  justify-content:space-around;
  align-items: center;
  background-color : white ;
}
.task{
  padding: 5px;
  flex:9;
  border: 2px solid #1a1c20;
}
.check, .ban, .trash{
  display: flex;
  flex:1;
  color:#ffa931;
  font-size: 2rem;
  align-self: stretch;
  border: 2px solid #1a1c20;
  border-left: 0;
  justify-content: center;
  align-items: center;

}
.check:hover, .ban:hover, .trash:hover{
  background-color : #ffa931 ;
  color: white;
}
/* javascrip classes */
.check-strike{
  text-decoration: line-through;
  background-color: #c4fb6d;
}
.ban-red{
  background-color: #ff847c;
}
.disappear{
  transition: all 1s ease;
  transform: rotateY(60deg) translateY(100px) rotateZ(30deg) ;
  animation: disappear 1s ease;
}


/* animation stuff */
@keyframes disappear {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }

}


@keyframes fallingdown {
  from{
    opacity: 0.5;
    transform: translateY(-600px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

/* background */
.bg{
  position: absolute;
  left:15%;
  top: 45%;
  z-index: -1;
  opacity: 0.5;
}
@media screen and (max-width:1000px) {
   .bg{
     left:2%;

   }
}
@media screen and (max-width:650px) {
   .bg{
     left:-25%;

   }
}
